cursorcontroller {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    pointer-events: all;

    .selection {
        border: 4px rgba(0, 255, 0, 0.2);
        background-color: rgba(0, 255, 0, 0.025);
        position: absolute;

        &.hidden {
            display: none;
        }
    }
}
