entityhud {
    position: absolute;
    pointer-events: none;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;

    entityhudanchor {
        position: absolute;
        transform: translateX(-50%) translateY(-100%);
        display: flex;
        flex-direction: column;
        align-items: center;

        &.hidden {
            display: none;
        }

        entityhudiconbar {
            margin-bottom: 4px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: rgba(0 0 0 0.6);
            border-radius: 2px;
            padding: 2px;

            entityhudicon {
                margin-right: 4px;
                margin-bottom: 0px;
                height: 20px;
                width: 20px;
            }

            entityhudbar {
                margin-bottom: 0px;
            }

            &.hidden {
                display: none;
            }
        }

        entityhudiconlist {
            margin-bottom: 4px;
            flex-direction: row;
            align-items: center;
            display: flex;

            entityhudicon {
                margin-right: 4px;
                margin-bottom: 0px;
                height: 20px;
                width: 20px;

                &.hidden {
                    display: none;
                }
            }

            &.hidden {
                display: none;
            }
        }
    }
}

entityhudicon {
    margin-bottom: 4px;
    height: 20px;
    width: 20px;

    &.rank {
        width: 16px;
        height: 16px;
    }

    &.hidden {
        display: none;
    }
}

entityhudbar {
    border: 1px black solid;
    background-color: black;
    border-radius: 2px;
    margin-bottom: 4px;
    width: 50px;
    height: 6px;

    .foreground {
        background-color: white;
        border-radius: 2px;
        width: 100%;
        height: 100%;
    }

    &.hidden {
        display: none;
    }

    &.health {
        .foreground {
            background-color: greenyellow;
        }
    }

    &.generator {
        .foreground {
            background-color: yellow;
        }
    }

    &.gather {
        .foreground {
            background-color: steelblue;
        }
    }
}