rootpanel {
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;
	transform-origin: 50% 50%;

	&.devcamera {
		display: none;
	}
}

chatbox {
	position: absolute;
	bottom: 25%;
	left: 32px;
}

.topbar {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	top: 16px;

	resourcelist {
		margin-right: 16px;
	}
}