itemtooltip {
    position: absolute;
    background-color: rgba(0 0 0 0.5);
    pointer-events: none;
    flex-direction: column;
    display: flex;
    padding: 16px;
    color: white;
    transform: translateX(-50%) translateY(-100%);
    left: 0px;
    top: 0px;

    .name {
        font-size: 20px;
    }

    .desc {
        font-size: 16px;
    }

    &.hidden {
        display: none;
    }
}

itemresourcevalue {
    .icon {
        background-color: white;
        width: 24px;
        height: 24px;
    }

    .label {
        color: red;
        font-weight: bold;
        font-size: 17px;
    }

    &.lerping {
        .label {
            font-size: 20px;
        }
    }

    &.affordable {
        .label {
            color: white;
        }
    }

    &.hidden {
        display: none;
    }
}