itemtooltip {
    position: absolute;
    background-color: rgba(0 0 0 0.7);
    pointer-events: none;
    flex-direction: column;
    backdrop-filter-blur: 8px;
    border-radius: 8px;
    pixel-snap: 0;
    display: flex;
    padding: 16px;
    color: white;
    transform: translateX(-50%) translateY(-100%);
    left: 0px;
    top: 0px;
    z-index: 10;

    .name {
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0px 0px 4px black;
    }

    .desc {
        font-size: 16px;
        max-width: 400px;
        margin-top: 4px;
    }

    itemresourcevalues {
        margin-top: 8px;
    }

    itemlabelvalues {
        margin-top: 4px;
    }

    resistancevalues {
        margin-top: 4px;
    }

    dependencylist {
        margin-top: 8px;
    }

    .buildtime {
        margin-top: 4px;

        .icon {
            background-image: url( /ui/icons/buildtime.png );
        }
    }

    .cooldown {
        margin-top: 4px;

        .icon {
            background-image: url( /ui/icons/cooldown.png );
        }
    }

    .population {
        margin-top: 4px;
        display: flex;
        align-items: center;
        justify-items: center;

        .icon {
            background-image: url( /ui/icons/population.png );
            background-size: 100%;
            margin-right: 4px;
            border-radius: 2px;
            width: 20px;
            height: 20px;
        }

        .label {
            font-size: 15px;
            font-weight: bold;
            color: white;

            &.full {
                color: red;
            }
        }

        &.hidden {
            display: none;
        }
    }

    &.hidden {
        display: none;
    }
}
