itemtooltip {
    position: absolute;
    background-color: rgba(0 0 0 0.5);
    pointer-events: none;
    flex-direction: column;
    border-radius: 8px;
    pixel-snap: 0;
    display: flex;
    padding: 16px;
    color: white;
    transform: translateX(-50%) translateY(-100%);
    left: 0px;
    top: 0px;

    .name {
        font-size: 20px;
    }

    .desc {
        font-size: 16px;
        max-width: 400px;
        margin-top: 8px;
    }

    .costs {
        margin-top: 8px;
        display: flex;

        itemresourcevalue {
            margin-right: 16px;
        }
    }

    .population {
        margin-top: 4px;

        .icon {
            background-image: url( /textures/rts/icons/population.png );
            background-size: 100%;
            margin-right: 4px;
            width: 24px;
            height: 24px;
        }

        .label {
            font-size: 17px;
            font-weight: bold;
            color: white;

            &.full {
                color: red;
            }
        }

        &.hidden {
            display: none;
        }
    }

    &.hidden {
        display: none;
    }
}

itemresourcevalue {
    .icon {
        background-color: white;
        margin-right: 4px;
        width: 24px;
        height: 24px;
    }

    .label {
        color: red;
        font-weight: bold;
        font-size: 17px;
    }

    &.lerping {
        .label {
            font-size: 20px;
        }
    }

    &.affordable {
        .label {
            color: white;
        }
    }

    &.hidden {
        display: none;
    }
}