itemresourcevalue {
    display: flex;
    align-items: center;
    justify-items: center;

    .icon {
        background-color: white;
        margin-right: 4px;
        width: 24px;
        height: 24px;
    }

    .label {
        color: red;
        font-size: 17px;
        font-weight: bold;
    }

    &.affordable {
        .label {
            color: white;
        }
    }

    &.hidden {
        display: none;
    }
}
