minimap {
    position: absolute;
    width: 100%;
    pointer-events: none;
    bottom: 64px;
    left: 32px;

    &.hidden {
        display: none;
    }

    .texture {
        background-color: white;
        width: 250px;
        height: 250px;
    }
}
