minimap {
    position: absolute;
    width: 100%;
    left: 48px;
    bottom: 32px;

    &.hidden {
        display: none;
    }

    .map {
        border-radius: 16px;
        pointer-events: auto;
        width: 250px;
        height: 250px;
    }
}
