populationcount {
    background-color: rgba( 0 0 0 0.8 );
    border-radius: 8px;
    pointer-events: none;
    padding: 8px;

    .population {
        display: flex;
        align-items: center;
        justify-items: center;

        .icon {
            background-image: url( /ui/icons/population.png );
            background-size: 100%;
            margin-right: 8px;
            border-radius: 2px;
            width: 32px;
            height: 32px;
        }

        .label {
            font-size: 24px;
            color: white;

            &.full {
                color: red;
            }
        }
    }

    &.hidden {
        display: none;
    }
}
