populationcount {
    background-color: rgba( 0 0 0 0.6 );
    position: absolute;
    border-radius: 8px;
    pointer-events: none;
    padding: 24px;
    top: 32px;
    right: 32px;
    display: flex;
    align-items: center;

    .population {
        .icon {
            background-image: url( /textures/rts/icons/population.png );
            background-size: 100%;
            margin-right: 16px;
            width: 32px;
            height: 32px;
        }

        .label {
            font-size: 32px;
            color: white;

            &.full {
                color: red;
            }
        }
    }

    &.hidden {
        display: none;
    }
}
