resistancevalue {
    display: flex;
    align-items: center;
    justify-items: center;

    .icon {
        background-color: white;
        margin-right: 4px;
        border-radius: 2px;
        width: 24px;
        height: 24px;
    }

    .label {
        color: greenyellow;
        font-weight: bold;
        font-size: 17px;
    }

    &.weakness {
        .label {
            color: orangered;
        }
    }

    &.hidden {
        display: none;
    }
}
