resourcelist {
    background-color: rgba( 0 0 0 0.6 );
    position: absolute;
    border-radius: 8px;
    pointer-events: none;
    padding: 24px;
    top: 32px;
    left: 32px;

    &.hidden {
        display: none;
    }
}

itemresourcevalue {
    margin-right: 32px;
    display: flex;
    align-items: center;

    .icon {
        background-color: white;
        margin-right: 16px;
        width: 32px;
        height: 32px;
    }

    .label {
        color: #EEE;
        font-weight: bold;
        font-size: 32px;
    }

    &.lerping {
        .label {
            font-size: 34px;
            color: white;
        }
    }

    &.hidden {
        display: none;
    }
}