resourcelist {
    background-color: rgba( 0 0 0 0.6 );
    border-radius: 8px;
    pointer-events: none;
    padding: 8px;

    itemresourcevalue {
        margin-right: 20px;

        .icon {
            background-color: white;
            margin-right: 8px;
            width: 32px;
            height: 32px;
        }

        .label {
            color: #EEE;
            font-size: 24px;
        }

        &.lerping {
            .label {
                font-size: 26px;
                color: white;
            }
        }

        &.hidden {
            display: none;
        }
    }

    :last-child {
        margin-right: 0px;
    }

    &.hidden {
        display: none;
    }
}
