resourcelist {
    background-color: rgba( 0 0 0 0.6 );
    border-radius: 8px;
    pointer-events: none;
    padding: 8px;

    itemresourcevalue {
        margin-right: 20px;

        .icon {
            background-color: white;
            margin-right: 8px;
            width: 32px;
            height: 32px;
        }

        .label {
            color: #EEE;
            font-size: 32px;
            font-weight: normal;
            transform: scale( 0.8f );
            transition: all 1s ease-in-out;
        }

        &.lerping {
            .label {
                color: white;
                transform: scale( 0.9f );
            }
        }

        &.hidden {
            display: none;
        }
    }

    :last-child {
        margin-right: 0px;
    }

    &.hidden {
        display: none;
    }
}
