selecteditem {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: auto;
    bottom: 32px;

    .left {
        bottom: 32px;
        width: 40%;
        height: 250px;

        itemmultidisplay {
            background-color: rgba(0 0 0 0.8);
            width: 100%;

            &.hidden {
                display: none;
            }
        }

        iteminformation {
            background-color: rgba(0 0 0 0.8);
            flex-direction: column;
            display: flex;
            padding: 16px;
            width: 100%;

            .name {
                font-size: 24px;
                color: white;
            }

            .desc {
                margin-top: 8px;
                font-size: 20px;
                color: white;
            }

            .health {
                margin-top: 8px;
                font-size: 20px;
                color: white;
            }

            .kills {
                margin-top: 8px;
                font-size: 20px;
                color: white;

                &.hidden {
                    display: none;
                }
            }

            itemoccupantlist {
                background-color: rgba(255 106 0 0.05);
                border-radius: 6px;
                margin-top: 8px;
                padding: 8px;

                itemoccupantbutton {
                    width: 50px;
                    height: 50px;
                    background-color: rgb(128 128 128 0.2);
                    border-radius: 4px;
                    margin-right: 4px;

                    &:hover {
                        border: 2px solid red;
                    }

                    &.hidden {
                        display: none;
                    }
                }

                &.hidden {
                    display: none;
                }
            }

            itemqueuelist {
                margin-top: 8px;

                itemqueuebutton {
                    width: 50px;
                    height: 50px;
                    background-color: aqua;
                    border-radius: 4px;
                    margin-right: 4px;

                    .countdown {
                        background-color: rgba(255 255 255 0.5);
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        height: 100%;

                        &.inactive {
                            opacity: 0.8;
                        }
                    }

                    &:hover {
                        border: 2px solid aquamarine;
                    }

                    &.hidden {
                        display: none;
                    }
                }

                &.hidden {
                    display: none;
                }
            }

            &.hidden {
                display: none;
            }
        }
    }

    .right {
        bottom: 32px;
        width: 25%;
        height: 250px;

        itemcommandlist {
            background-color: rgba(0 0 0 0.5);
            padding: 16px;
            width: 100%;

            itemcommand {
                width: 50px;
                height: 50px;
                background-color: aqua;
                border-radius: 4px;
                margin-right: 4px;

                &:hover {
                    border: 2px solid aquamarine;
                }
            }
        }
    }

    &.hidden {
        display: none;
    }
}
