lobbyplayerlist {
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    lobbyplayeritem {
        background-color: rgba( 0 0 0 0.8 );
        border-radius: 4px;
        align-items: center;
        margin-top: 8px;
        padding: 12px;

        .name {
            font-size: 24px;
            color: white;
        }

        .color {
            background-color: white;
            border-radius: 4px;
            margin-right: 8px;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;

            .group {
                font-weight: bold;
                text-shadow: 0px 0px 3px black;
                font-size: 26px;
                color: white;
            }

            &.enabled {
                &:hover {
                    border: 2px solid green;
                }
            }
        }

        .avatar {
            width: 40px;
            height: 40px;
            margin-right: 8px;
            border-radius: 4px;
        }

        &.ready {
            border: 2px solid green;
        }

        &.hidden {
            background-color: rgba( 0 0 0 0.5 );
            height: 64px;

            .name {
                display: none;
            }

            .color {
                display: none;
            }

            .avatar {
                display: none;
            }
        }
    }

    &.hidden {
        display: none;
    }
}
